.part-of-body1 {
    background-color: turquoise;
}


.form-image {
    padding-top: 10%;
    padding-left: 37%;
    background: url("user.png");
    background-repeat: none;
    background-size: 200px, 100px;
}

.form-Name {
    text-align: center;
    border-spacing: 10px 10px;
}

.form-Name h1  {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding-top: 20px;

}

.form-Name  img{
    width: 500px;
    
}

.form-Name p{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;

}
